/** ==========================================================================
/** Page markup
/** ========================================================================== */

.page-html {
  scroll-behavior: smooth;

  font-family: "Cabin", sans-serif;
  font-size: 110%;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
}

.page-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  min-height: 100vh;
}

.page-header {
  display: flex;
  justify-content: center;

  background-color: #292935;
}

.page-main {
  display: flex;
  justify-content: center;
}

.page-footer {
  display: flex;
  justify-content: center;

  background-color: #22222e;
}

/** ==========================================================================
/** Sections Layout
/** ========================================================================== */

.main-container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;

  max-width: 1440px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.section {
  padding: 0 2em;

  width: 50%;
}

.section-contacts {
  order: 1;

  background-color: #292935;
}

.section-skills {
  order: 3;

  background-color: #292935;
}

.section-code {
  order: 5;

  background-color: #292935;
}

.section-experience {
  order: 2;

  background-color: #22222e;
}

.section-education {
  order: 4;

  background-color: #22222e;
}

.section-english {
  order: 6;

  background-color: #22222e;
}

/** ==========================================================================
/** Headings
/** ========================================================================== */

/** Margins and font stylizaion for H1 */

.page-heading {
  margin: 0.39em 0;

  font-size: 2.55em;
  font-weight: 500;
}

/** Font stylization for H2 */

.section-heading {
  position: relative;

  font-size: 1.45em;
  font-weight: 500;
  text-transform: uppercase;
}

.content-section-heading {
  color: #ffffff;
}

/** Underlining by pseudo for H2 */

.section-heading::before {
  content: "";
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 1.7em;
  height: 0.15em;

  background-color: #ffc905;
}

/** Unique H2: display method, margins, font and stroke */

.special-heading {
  display: inline-block;

  margin: 0;
  padding: 0.1em 0.3em 0.2em;

  border-radius: 0.2em;

  font-size: 1.45em;
  font-weight: 500;

  background-color: #ffc905;
}

/** Font stylization for H3 */

.subsection-heading {
  font-size: 1.22em;
  font-weight: 500;

  color: #ffffff;
}
